.container {
  padding: 20px;
  margin: 0 ;
  text-align: center;
  height: 800px;
  width: 700px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.bgKeys{
  background-color: var(--bg2);
  padding: 40px;
  border-radius: 10px;
}

.keypad{
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 20px;
}

.flex{
  margin: 20px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.navContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color5);

}

.themeBtn{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.actBtn{
  background-color: var(--color1);
  color: var(--color5);
  box-shadow: inset 0em -5px var(--color2);
}

.actBtnLight{
  background-color: #f2f2f2;
}

.resBtn{
  background-color: var(--color3);
  color: var(--color5);
  box-shadow: inset 0em -5px var(--color4);
}

.switchToggle {
  float: left;
  background: var(--bg2);
  border-radius: 50px;
  padding: 5px;
}
.switchToggle input {
  display: none;
  position: absolute;
}
.switchToggle input + label {
 padding: 10px;
 float:left;
 color: #fff;
 cursor: pointer;
}
.switchToggle input:checked + label {
 background: var(--color3);
 border-radius: 100%;
}
